<main role="main">

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Rupee Count</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/EmiCalculator" routerlinkActive="active">EMI Calculator</a>
    <a class="p-2 text-dark" routerLink="/IfscCodes" routerlinkActive="active">IFSC Codes</a>
    <a class="p-2 text-dark" routerLink="/About" routerlinkActive="active">About</a>    
  </nav>  
</div>

<section>
  <div class="container text-center">
    <router-outlet></router-outlet>
  </div>  
</section>
</main>
<footer class="footer mt-auto">
  <div class="container">
    <p class="text-center text-muted">Rupee Count</p>
  </div>
</footer>